.todos-wrapper {
  width: 100%;
  display: flex;
  font-family: "Montserrat", "sans-serif";
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
  gap: 3rem;
  padding: 20px;
}

.todo {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #807ea1;
  height: fit-content;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
  background-color: #d7d7d7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=0, Color=#807EA1)"; /*IE 8*/
  -moz-box-shadow: 0 0 5px 3px #745d9f; /*FF 3.5+*/
  -webkit-box-shadow: 0 0 5px 3px #745d9f; /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 5px 3px #745d9f; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#745d9f); /*IE 5.5-7*/
}

.pin > img{
  color: #745d9f;
  transform: rotate(50deg);
}

.complete-icon{
  margin-top: 10px;
}

.title{
  width: 20rem;

  
}


.pop-up-wrapper{
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50% -50%);
  border: 1px solid #745d9f;
  background-color: black;
}

.edit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
}

.edit h2{
  border-radius: 7px;
  border: 2px solid #745d9f;
  padding: 2px;
  margin: 10px;
}

.edit-pencil{
  display: flex;
  flex-direction: row;

}


.empty-todos{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 80vh;
  color:#745d9f;
}


.mark-as-complete h3{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #745d9f;
  border-radius: 7px;
  width:fit-content ;
  margin: 5px auto;

  cursor: pointer;
  background-color: #bdb8c6;
  padding: 5px;
}


input{
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #807ea1;
  font-size: 1rem;
  text-align: center;
  color:#745d9f;
}

input:focus{
  outline: none;
}