.todos-wrapper {
  width: 100%;
  display: grid;
  font-family: "Montserrat", "sans-serif";
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 2rem;
  place-items: center;
  justify-self: center;
  gap: 2rem;
  padding: 20px;
}

.todo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: max-content;
  color: #807ea1;
  height: fit-content;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  background-color: #d6d6d6;

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=0, Color=#807EA1)"; /*IE 8*/
  -moz-box-shadow: 0 0 5px 3px #807ea1; /*FF 3.5+*/
  -webkit-box-shadow: 0 0 5px 3px #807ea1; /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 5px 3px #807ea1; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#807EA1); /*IE 5.5-7*/
}


