.persona-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.personal-wrapper nav {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #b5a9cc;
  padding: 20px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=0, Color=#807EA1)"; /*IE 8*/
  -moz-box-shadow: 0 0 9px #807ea1; /*FF 3.5+*/
  -webkit-box-shadow: 0 0 9px #807ea1; /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 9px #807ea1; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=135, Color=#807EA1); /*IE 5.5-7*/
}

.welcome-user {
  font-size: clamp(2rem, 2.5vh, 3rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-user p {
  font-size: 1rem;
  text-align: center;
}

.all-about-todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  gap: clamp(2rem, 2.5vh, 10rem);
}
.all-about-todos div {
  padding: 5px;
  border-radius: 7px;
  border: 1px solid #807ea1;
  
}
.all-about-todos h1 {
  background-color: inherit;
  outline: none;
  border: none;
  color: #807ea1;
  cursor: pointer;
  font-size: clamp(1.5rem, 1.5vh, 2rem);
}


.all-about-todos div:active {
  transform: scale(0.95);
  font-size: medium;
  transition: all 0.2s linear;
}


.show-todo h1:focus{
 border: 1px solid #807EA1;
 border-radius: 10px;
}


.not-logged-in{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  color:#807EA1;
}